<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div id="chat-box" class="chat-box">
            {% for message in messages %}
                <div class="message {% if message.user == user_name %}sent{% else %}received{% endif %}">
                    <strong>{{ message.user }}:</strong> {{ message.text }}
                </div>
            {% endfor %}
        </div>
        <form id="message-form" action="/room/{{ room_code }}/send_message" method="post">
            <input type="text" id="message-input" name="message" placeholder="Type your message...">
            <button type="submit">Send</button>
        </form>
    </div>
    <span id="user-name" style="display: none;">{{ user_name }}</span>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
   <script>
    var user_name = document.getElementById('user-name').innerText.trim();
    var room_code = "{{ room_code }}";

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        socket.emit('join', {room: room_code});
    });

    socket.on('message', function(data) {
        if (data && data.user && data.text) { // Check if data is valid
            var chatBox = document.getElementById('chat-box');
            if (data.user !== user_name) { // Only append message if sender is not the current user
                var newMessage = document.createElement('div');
                newMessage.className = 'message received';
                newMessage.innerHTML = '<strong>' + data.user + ':</strong> ' + data.text;
                chatBox.appendChild(newMessage);
                chatBox.scrollTop = chatBox.scrollHeight;
            }
        }
    });

    document.getElementById('message-form').addEventListener('submit', function(e) {
        e.preventDefault();
        var messageInput = document.getElementById('message-input');
        var messageText = messageInput.value.trim();
        if (messageText !== "") {
            socket.emit('send_message', {'room_code': room_code, 'message': messageText});
            messageInput.value = '';
            // Append sent message to chat box
            var chatBox = document.getElementById('chat-box');
            var newMessage = document.createElement('div');
            newMessage.className = 'message sent';
            newMessage.innerHTML = '<strong>' + user_name + ':</strong> ' + messageText;
            chatBox.appendChild(newMessage);
            chatBox.scrollTop = chatBox.scrollHeight;
        }
    });
</script>

</body>
</html>
